@import "tailwindcss";
/* @import "tailwindcss-animate"; */
@import "tw-animate-css";



:root {
  --color-dark-1: #000000;
  --color-light-1: #ffffff;
}

@theme inline {
  --color-dark-1: (var(--color-dark-1));
  --color-light-1: (var(--color-light-1));
}
