@import "tailwindcss";
/* @import "tailwindcss-animate"; */
/* @import "tw-animate-css"; */


:root {
  --color-dark-1: #000000;
  --color-light-1: #ffffff;
}

@theme inline {
  --color-dark-1: (var(--color-dark-1));
  --color-light-1: (var(--color-light-1));
}


@layer components{
  .main-container{
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
  }
}